@import "@styles/_vars.scss";

.spec {
  &__head {
    line-height: 1.2;
    font-weight: 500;
    color: $color-black;
    text-align: right;
  }
  &__body {
    margin-bottom: 32px;
  }
  &__item {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    line-height: 1.2;
    font-weight: 300;
  }
  &__name {
    color: $color-black;
    white-space: nowrap;
  }
  &__dots {
    flex: 1;
    border-bottom: 1px dotted $color-gray-dark;
  }
  &__value {
    text-align: right;
    color: $color-gray-dark;
  }
  &__cost {
    line-height: 1.2;
    font-weight: 400;
    color: $color-black;
    span {
      font-weight: 500;
    }
  }
}

@media (min-width: 576px) {
  .spec {
    &__head {
      font-size: 18px;
      margin-bottom: 26px;
    }
    &__item {
      font-size: 14px;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    &__dots {
      min-width: 30px;
      margin: 0 12px;
    }
    &__cost {
      font-size: 16px;
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 575px) {
  .spec {
    &__head {
      font-size: 16px;
      margin-bottom: 22px;
    }
    &__item {
      font-size: 12px;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    &__dots {
      min-width: 24px;
      margin: 0 10px;
    }
    &__cost {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }
}

@media (min-width: 992px) {
  .spec {
    top: 32px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .spec {
    top: 30px;
  }
}

@media (min-width: 768px) {
  .spec {
    position: sticky;
  }
}