.models-filter {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -4px -8px;
  }
  &__item {
    padding: 4px 8px;
  }
}

@media (min-width: 992px) {
  .models-filter {
    margin-bottom: 48px;
  }
}

@media (max-width: 991px) {
  .models-filter {
    margin-bottom: 30px;
  }
}
