@import '@styles/_vars.scss';

.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  background: transparent;
  border: 0 none;
  border-radius: 8px;
  padding: 0.7em 2em;
  overflow: hidden;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
    transition: filter $time-trs;
  }
  span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 2;
  }
  &--dark:before {
    background: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
  }
  &--fullsize {
    width: 100%;
    text-align: center;
  }
  &:not(:disabled):hover:before {
    filter: brightness(0.9);
  }
  &:not(:disabled):active:before {
    filter: brightness(0.8);
  }
  &:disabled {
    cursor: default;
    &:before {
      background: #EEE!important;
    }
  }
}