@import "@styles/_vars.scss";

.order {
  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  &__head {
    width: 100%;
    border-bottom: 1px solid $color-gray-light;  
  }
  &__breadcrumbs {
    width: 100%;
    padding: 4px 0;
    border-bottom: 1px solid $color-gray-light;
  }
  &__body {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    .container {
      padding: 0;
    }
  }
  &__wrapper {
    height: 100%;
  }
  &__slider {
    width: 100%;
  }
  &__status {
      line-height: 1.15;
      font-weight: 400;
      color: $color-black;
      &:not(:last-child) {
          margin-bottom: 16px;
      }
      span {
        font-weight: 700;
      }
      &--confirm span {
        color: $color-accent;
      }
      &--cancel span {
        color: $color-red;
      }
  }
}

@media (min-width: 992px) {
  .order {
    &__result {
      padding: 32px 15px 32px 32px;
    }
    &__slide {
        padding: 32px 32px 32px 15px;
    }
  }
  .form {
    &__body {
      display: table;
    }
    &__item {
      display: table-row;
    }
    &__label {
      text-align: right;
    }
    &__input {
      display: table-cell;
      width: 300px;
    }
  }
}

@media (max-width: 991px) {
  .form {
    &__input {
      width: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .order {
    &__result {
      padding: 30px 15px;
    }
    &__slide {
        padding: 30px 15px;
    }
  }
}

@media (min-width: 768px) {
  .order {
    &__wrapper {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
    }
    &__steps {
      flex: 1;
      min-width: 0;
      border-right: 1px solid $color-gray-light;
    }
    &__result {
      width: 320px;
      flex-shrink: 0;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .form {
    &__body {
      display: table;
    }
    &__item {
      display: table-row;
    }
    &__label {
      text-align: right;
    }
    &__input {
      display: table-cell;
      width: 300px;
    }
  }
}

@media (max-width: 767px) {
  .order {
    &__steps {
      margin-bottom: 24px;
    }
    &__result {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 30px;
    }
    &__slider {
        padding: 24px 15px;
    }
  }
}

@media (min-width: 576px) {
  .order {
    padding: 32px 0 0;
    &__head {
      padding-bottom: 38px;
    }
    &__status {
        font-size: 24px;
    }
  }
}


@media (max-width: 575px) {
  .order {
    padding-top: 82px;
    &__head {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      background: #fff; 
      z-index: 1000;
      .header {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: right;
      }
    }
    &__status {
        font-size: 20px;
    }
  }
}