@import '@styles/_vars';
.main {
    width: 100%;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}
.main-info {
    width: 50%;
    padding: 32px 64px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    &__head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        font-size: 30px;
        line-height: 1.17;
        font-weight: 700;
        color: $color-accent;
    }
    &__location {
        a {
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            vertical-align: top;
            text-decoration: none;
            cursor: pointer;
            svg {
                display: block;
                width: 15px;
                height: 18px;
                margin-right: 7px;
                path {
                    stroke: $color-gray-dark;
                    transition: stroke $time-trs;
                }
            }
            span {
                font-size: 14px;
                line-height: 1.14;
                font-weight: 400;
                color: $color-gray-dark;
                transition: color $time-trs;
            }
            &:hover {
                svg path {
                    stroke: $color-black;
                }
                span {
                    color: $color-black;
                }
            }
        }
    }
    &__body {
        width: 100%;

    }
    &__data {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
    &__title {
        font-size: 70px;
        line-height: 0.94;
        font-weight: 700;
        color: $color-black;
        &:not(:last-child) {
            margin-bottom: 34px;
        }
        span {
            color: $color-accent;
        }
    }
    &__desc {
        font-size: 26px;
        line-height: 1.15;
        font-weight: 300;
        color: $color-gray-dark;  
    }
    &__btn {
        .btn {
            min-width: 250px;
            text-align: center;
        }
    }
    &__foot {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__copyright {
        font-size: 13px;
        line-height: 1.15;
        font-weight: 400;
        color: $color-gray-dark;
    }
    &__phone {
        font-size: 13px;
        line-height: 1.15;
        font-weight: 400;
        color: $color-black;
        a {
            text-decoration: none;
            color: $color-black;
            cursor: pointer;
            transition: color $time-trs;
            &:hover {
                color: $color-accent;
            }
        }
    }
}