@import "@styles/_vars.scss";

.breadcrumbs-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 4px 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: $color-black;
  &:not(:last-child) {
    &:after {
      content: "";
      width: 6px;
      height: 8px;
      background: url("@assets/img/ico_triangle.svg") no-repeat center center / contain;
      position: absolute;
      top: 50%;
      margin-top: -4px;
    }
  }
  button {
    display: inline-block;
    vertical-align: top;
    border: 0 none;
    border-radius: 0;
    background-color: transparent;
    color: $color-gray-dark;
    font-weight: 700;
    padding: 0;
    cursor: default;
    transition: color $time-trs;
  }
  &--available {
    button {
      cursor: pointer;
      color: $color-black;
      &:hover {
        color: $color-accent;
      }
    }
  }
  &--active {
    button {
      color: $color-accent;
    }
  }
}

@media (min-width: 576px) {
  .breadcrumbs-item {
    &:not(:last-child) {
      padding-right: 38px;
      &:after {
        right: 16px;
      }
    }
  }
}

@media (max-width: 575px) {
  .breadcrumbs-item {
    &:not(:last-child) {
      padding-right: 30px;
      &:after {
        right: 12px;
      }
    }
  }
}
